<h3><font size="6" face="Georgia"color="maroon">K</font>YOKUSHIN HONBU PHILIPPINES</h3>

<p>
  <b>
    # 2B N. Domingo Street Brgy. Progresso, San Juan City<br />
    Philippines 1500 727-2727, 09177272008<br />
    Website: www.kyokushin.com.ph <br />
    Email: <a href="http://www.kyokushin.com.ph">Info@kyokushin.com.ph</a>
  </b>
</p>

<%= image_tag("map.jpg", :size => "655x300" ) %>

