<header>
  <%= image_tag("images.jpeg", :alt => "Sample App", :class => "round") %>
     <nav class="round">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "News", help_path %></li>
          <li><%= link_to "All Members", '#' %></li>
         </ul>
      </nav>
</header>
